@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-main: #fffdec;
	--color-secondary: #fffbfb;
	--color-tertiary: #86a788;
	--color-textMain: #3d3635;

	--color-dark-primary: #1a1616;
	--color-dark-secondary: #141212;
	--color-dark-tertiary: #535c91;
	--color-dark-textMain: #f3efe0;
}

@layer base {
	body {
		@apply transition-colors duration-300 ease-in-out;
	}
}
