@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-main: #FFFDEC;
	--color-secondary: #fffbfb;
	--color-tertiary: #86A788;
	--color-textMain: #3D3635;

	--color-dark-primary: #1A1616;
	--color-dark-secondary: #141212;
	--color-dark-tertiary: #535C91;
	--color-dark-textMain: #F3EFE0;
}

@layer base {
	body {
		@apply transition-colors duration-300 ease-in-out;
	}
}

